#app {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.drums-wrapper {
    display: flex;
    max-width: 600px;
    margin: auto;
    margin-top: 8px;
    border: 1px solid black;
}

.drum {
    width: 100px;
    padding: 8px;
    padding-bottom: 16px;
    border: 1px solid black;
}

.drum-letter {
    font-size: 18px;
    font-weight: 600;
    font-family: sans-serif;
    text-transform: capitalize;
}

p {
    margin-top: 0;
}