$border-default: 2px solid black;
$margin-default: 12px;

// Drum colors
$color-kick: #7abeeb;
$color-snare: #fff9a1;
$color-hat: #c6f2a7;
$color-crash: #fc92a4;

$color-kick-hover: #7abeeb33;
$color-snare-hover: #fff9a133;
$color-hat-hover: #c6f2a733;
$color-crash-hover: #fc92a433;